
*{
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 27px;
}
.container {
    width: 100%;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
/* -----------------------HEADER-------------------- */

.header {
    width: 100%;
    background-color: #2b302ae7;
    display: flex;
    position: relative;
    z-index: 100;
    flex-wrap: wrap;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    
}

.logo img {
    margin-left: 30px;
    width: 100px;
    height: 26px;
    
}
.menu {
    display: flex;
    justify-content: center;
    padding: 31.5px 0;
}
.menu li {
    list-style-type: none;
    margin: 0 30px;

}
.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
   
}
.menu a:hover {
    color: #01a129;
    transition: ease-in-out 0.3s;
    
}
/* -----------------MAiN--------------- */
[class*="section-"] {
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
/* ----------------------------------- */
.section-first { 
    width: 100%;
    height:820px;
    display: flex;
    background: url(img/bb2.jpg) center no-repeat;
    background-size: cover;
    background-position: 0 80%;
    background-attachment: fixed, scroll;
    position: relative;
    align-items: flex-end;
    flex-wrap: wrap;
    
    
}

.bg-sec {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 166, 0, 0.0.5);
}
.hot-air {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    height: 400px;
    background-color: rgb(72, 82, 70);
}
.hot-air h2 {
    font-family: Montserrat;
    font-size: 44px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    padding-left: 40px;
}

.hot-air p {
    font-size: 16px;
    color: rgb(180, 179, 179);
    padding: 20px 40px ;
}
.subb-hot-air {
    background-color: rgb(75, 28, 1);
    width: 100%;
}
.contact {
    background-color: #363f36;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20%;
    
   

}
.size-1 {
    width: 20px;
    height: 20px;
}
.fff {
    color: rgb(158, 157, 157);
    padding-left: 5px;
    font-size: 15px;
    position:relative;
    top: -3px;
    text-decoration: none;

}
.insta {
    display: flex;
    padding: 0 40px;
    
}
.twitter {
    display: flex;
    
}
.fff:hover {
    color: #fff;
    transition: ease-in-out 0.3s;
}
.section-second {
    background-color: #363f36;
    
}
.bg2 {
    background: url(img/bg2.png) center no-repeat;
    background-position: 50% 0;
    width: 100%;
    height: 800px;
}
.adventures  {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    background-color: #363f36;
    
}
.box {
    display: flex;
}
.my-h3 {
    font-size: 38px;
    line-height: 47px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #fff;
    margin-bottom: 100px;
    
}
[class*="title-"] {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0px;    
    margin-bottom: 20px;
    padding-left: 20px;
}
[class*="img-for-"] {
    
    width: 26px;
    height: 26px;
    left: 0;

}
.img-for-h21 {
    background: url(img/compas.png) center no-repeat;
    background-size: cover;
    
}
.bgimage {
    width: 100%;
    height: 100%;
    background: url(img/bg2.png) center no-repeat;
    background-position: 100% 0;
    
}
.subb-adventures {
    display: flex;
    justify-content: center;
    
}

    
   

[class*="adv-img-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
    
}
.like-me {
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: rgba(150, 150, 150, 0.753);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    left: 80%;
    top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like {
    background: url(img/like.png) center no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.like:hover {
    background: url(img/Heart.png) center no-repeat;
    background-size: 100%;
    
}
.cart {
    font-size: 15px;
    color: #fff;
}

.adv-img-1 a {
    background: url(img/first.jpg) center no-repeat;
    background-size: 100%; 
    width: 90%;
    height:276px;  
    border-radius: 5px;
}
.adv-img-2 a {
    background: url(img/second.jpg) center no-repeat;
    background-size: 100%; 
    width: 90%;
    height:276px; 
    border-radius: 5px; 
}

.descriptions {
    width: 75%;
    background-color: #4f5c4f;
    border-radius: 20px; 
    position: relative;
    margin-top: -50px;
}
.my-adv {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    background-color: #687968;
    border-radius: 50px;
    width: 35%;
    margin: 15px;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
   
}
.my-adv:hover {
    background-color: rgb(85, 158, 1);
    color: #fff;
    transition: ease-in-out 0.35s;
}
.descriptions h3 {
    color: #fff;
    margin: 30px 15px;
    font-weight: 600;
    font-size: 35px;
}
.subb-desc {
    color: rgb(228, 226, 226);
    font-size: 15px;
    font-weight: 400;
    margin: 15px;
}
.time {
    display: flex;
    justify-content: center;
    align-items: center;
}
.who {  
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    margin: 15px 0;
}
.who img {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    left: 15px;
    top: 2px;
}
.subb-time {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 50%;
    margin: 15px 0;
    position: relative;
}
.subb-time img  {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -8px;
    top: -2px;
}
.discover-more {
    color: #fff;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discover-more h3 {
    border-bottom: 2px solid #fff;
    font-size: 23px;
    width: 20%;

}
/* section-free */
.section-free {
    padding-top: 300px;
    background-color: #efeeea;
    background: url(img/3person.jpg) center no-repeat;
    background-position: center bottom;
    background-size: cover;
    
}
.text-message {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    background-color: rgb(214, 214, 214);
    box-shadow: 0 20px 25px rgb(0 0 0 / 30%);
    padding: 60px 5% 25px;
}
.message {
    display: flex;
    justify-content:flex-end;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    
    
}
.ceo-text p {
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
.ceo-img {
    display: flex;
    padding: 15px 0;
}
.ceo-name {
    padding-left: 15px;
}
.ceo-name h3 {
    font-weight: 700;
    font-size: 16px;
}
/* section-four */
.section-four {
    background-color: #efeeea;
    padding-bottom: 100px;
}
.img-for-h22 {
    background: url(img/map.png) center no-repeat;
    background-size: cover;
}
.adv-img-3 a {
    background: url(img/pl1.jpg) center no-repeat;
    background-size: 100%; 
    width: 90%;
    height:170px;   
    border-radius: 2px;
}
.adv-img-4 a {
    background: url(img/pl2.jpg) center no-repeat;
    background-size: 100%; 
    width: 90%;
    height:170px;  
    border-radius: 2px;
    
}
.adv-img-5 a {
    background: url(img/pl3.jpg) center no-repeat;
    background-size: 100%; 
    width: 90%;
    height:170px;  
    border-radius: 2px;
}

.add {
    margin: 5% 0;
    left: 75%;
}
.plasec-desc {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.my-places {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #687968;
    border-radius: 50px;
    width: 30%;
    margin: 12px 0;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
   
}
.my-places:hover {
    background-color: rgb(85, 158, 1);
    transition: ease-in-out 0.35s;
    
    
}
.places-box {
    width: 96%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4),
    inset 0 2px 0 rgba(255, 255, 255, 0.6), 
    inset 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}
.places-box:hover {
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.4),
    0 2px 0 rgba(255, 255, 255, 0.4),
    0 2px 0 rgba(0, 0, 0, 0.1);
    transition:  ease-in-out 0.35;
}
.df {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.pld {
    width: 90%;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid rgb(146, 146, 146);
}
.pld p {
    text-align: center;
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
    padding-top: 10px;
}
.size {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.about {
    flex-direction: column;
    padding: 15px 0;
}
.name {
    padding-bottom: 5px;
}
.subb-name {
    padding-left: 10px;
    font-size: 15px;
    color: #000;
}
/* section-five */
.section-five {
    padding-top: 100px;
    padding-bottom: 75px;
    background-color: #e2e0dc;
}
.img-for-h23 {
    background: url(img/lern.png)center no-repeat;
    
}
.adv-img-6 a {
    background: url(img/bgbg1.jpg) center no-repeat;
    background-size: 100%; 
    width: 90%;
    height:170px;  
    border-radius: 2px;
}
.adv-img-7 a {
    background: url(img/gu2.jpg) center no-repeat;
    background-size: 100%; 
    width: 90%;
    height:170px;  
    border-radius: 2px;
}
.adv-img-8 a {
    background: url(img/gu3.jpg) center no-repeat;
    background-size: 100%; 
    width: 90%;
    height:170px;  
    border-radius: 2px;
}
[class*="size-img"]:hover {
    background-size: 140%;
    transition: all .3s ease-in-out;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
    .hot-air {
        margin-top: 320px;
    }

    .col-xs-2 {
        flex: 0 0 16.6666%;
        max-width: 16.666%;
    }
    .col-xs-3 {
        flex:0 0 25%;
        max-width: 25% ;
    }
    .col-xs-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-xs-5 {
        flex: 0 0 41.6666%;
        max-width: 41.666%;
    }
    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xs-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-xs-8 {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    .col-xs-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xs-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-xs-11 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 720px;
    }
    
    .col-sm-2 {
        flex: 0 0 16.6666%;
        max-width: 16.666%;
    }
    .col-sm-3 {
        flex:0 0 25%;
        max-width: 25% ;
    }
    .col-sm-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-sm-5 {
        flex: 0 0 41.6666%;
        max-width: 41.666%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-8 {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-sm-11 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 992px) {
    .menu a {
        font-size: 15px;
    }
    .menu li {
        margin: 0 15px;
        
    }
    
}
@media (min-width: 992px) {

    .menu  {
        overflow-y: auto;
    }
    .container {
        width: 100%;
        max-width: 960px;
    }
    .col-md-2 {
        flex: 0 0 16.6666%;
        max-width: 16.666%;
    }
    .col-md-3 {
        flex:0 0 25%;
        max-width: 25% ;
    }
    .col-md-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-md-5 {
        flex: 0 0 41.6666%;
        max-width: 41.666%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-md-11 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    
    
    .container {
        width: 100%;
        max-width: 980px;
    }
    .col-md-2 {
        flex: 0 0 16.6666%;
        max-width: 16.666%;
    }
    .col-md-3 {
        flex:0 0 25%;
        max-width: 25% ;
    }
    .col-md-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-md-5 {
        flex: 0 0 41.6666%;
        max-width: 41.666%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-md-11 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}